body {

    margin: auto;
    text-align: center;
    background-color: #1DD3B0;
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
    margin-top: 150px;
}

.card {

    margin: auto;
    background-color: #AFFC41;
    width:33.33%;
    height:350px;
    box-shadow:5px 5px 5px black;
    text-align: left;
}

p {

font-size: 11px;

}

.card:hover {

    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 600ms;
    border: 2px solid black;
    rotate: 5deg;
    z-index: 10;
    
}

.cards {
    margin: auto;
    width: 800px;
    display: flex;
    gap:1em;

}